
<% provide(:title, "Log in") %>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>



<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">IN+</h1>

    </div>
    <h3>Welcome to IN+</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>
    <p>Login in. To see it in action.</p>

    <%= form_for(:session, url: login_path, class:'m-t') do |f| %>
        <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder:'email' %>
        </div>
        <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
          </div>
        <%= f.submit "Log in", class: "btn btn-primary block full-width m-b" %>
    <% end %>

    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>

<!-- Mainly scripts -->
<script src="/assets/admin/js/jquery-1.10.2.js"></script>
<script src="/assets/admin/js/bootstrap.min.js"></script>

