<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= full_title(yield(:title)) %></title>

  <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/admin/css/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Morris -->
  <link href="/assets/admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

  <!-- Gritter -->
  <link href="/assets/admin/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

  <link href="/assets/admin/css/animate.css" rel="stylesheet">
  <link href="/assets/admin/css/style.css" rel="stylesheet">
</head>
<body>
<%= yield %>

</body>
</html>
